@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{

  font-family: 'Ubuntu', sans-serif;
}
.profile{
	height: 85vH;
	background: rgba(255,255,255,0.8);
	border-radius: 25px;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
	background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;

}
.after{
	display: none;
}
input {
	width: 50%;
}